<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>
<%- include ../../partials/background.ejs %>

<body>
    <div class="main-content">
        <h2 class="titulos">Alteração de </h2>
        <br>
        <div class="formularios">
            <form method="POST" action="/administrador/dados/update">
                
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputNome">Nome</label>
                        <input name="inputNome" value="<%= academia.nome %>" type="text" class="form-control" id="inputNome" disabled>
                    </div>
                    <div class="form-group col-md-3">
                        <% var valorString = academia.valor %>
                        <% var valorFloat = parseFloat(valorString) %>
                        <% var valor = valorFloat.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>
                        
                        <label for="inputLogradouro">Valor da Mensalidade</label>
                        <input value="<%= valor %>" type="text" class="form-control" name="inputLogradouro" disabled>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputLogradouro">Logradouro</label>
                        <input value="<%= academia.enderecoacademium.logradouro %>" type="text" class="form-control" name="inputLogradouro" disabled>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputNumero">Número</label>
                        <input value="<%= academia.enderecoacademium.numero %>" type="number" class="form-control" name="inputNumero" disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputCidade">Cidade</label>
                        <input value="<%= academia.enderecoacademium.cidade %>" type="text" class="form-control" name="inputCidade" disabled>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputBairro">Bairro</label>
                        <input value="<%= academia.enderecoacademium.bairro %>" type="text" class="form-control name=" inputBairro" disabled>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputCEP">CEP</label>
                        <input value="<%= academia.enderecoacademium.cep %>" type="text" class="form-control" name="inputCEP" disabled>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputUF">UF</label>
                        <select class="form-control" name="" id="selectUF" disabled>
                            <option value=""><%= academia.enderecoacademium.uf %></option>
                        </select>
                    </div>

                </div>
                <a href="/administrador/editar/dados" class="btn btn-warning">Editar dados</a>
        </div>

        </form>
    </div>
    </div>
</body>
<%- include ../../partials/footer.ejs %>