<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>
<%- include ../../partials/background.ejs %>

<body>
    <div class="main-content">
        <h2 class="titulos">Alteração de Dados</h2>
        <hr>
        <div class="formularios">
            <form action="/administrador/clientes/update" method="POST">
                <div class="form-row">
                    <div>
                        <input value="<%= cliente.id %>" type="hidden" class="form-control" name="inputID" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputNome">Nome</label>
                        <input value="<%= cliente.nome %>" type="text" class="form-control" id="inputNome"
                            placeholder="Nome" name="inputNome" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputSobrenome">Sobrenome</label>
                        <input value="<%= cliente.sobrenome %>" type="text" class="form-control" id="inputSobrenome"
                            placeholder="Sobrenome" name="inputSobrenome" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="selectSexo">Sexo</label>
                        <select class="form-control" name="selectSexo" id="selectSexo">
                            <% if(cliente.sexo === 'Masculino'){ %>
                                <option selected value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                                <% }else { %>
                                    <option selected value="Feminino">Feminino</option>
                                    <option value="Masculino">Masculino</option>
                                <% } %>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputDate">Data de Nascimento</label>
                        <input value="<%= cliente.dataNascimento %>" type="date" class="form-control" id="inputDate"
                            name="inputDate">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputCPF">CPF</label>
                        <input value="<%= cliente.cpf %>" type="text" class="form-control" id="inputCPF"
                            placeholder="000.000.000-00" name="inputCPF">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputTelefone">Telefone</label>
                        <input value="<%= cliente.telefone %>" type="text" class="form-control" id="inputTelefone"
                            placeholder="(99)9999-9999" name="inputTelefone">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail">Email</label>
                        <input value="<%= cliente.email %>" type="email" class="form-control" id="inputEmail"
                            placeholder="example@email.com" name="inputEmail">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputCEP">CEP</label>
                        <input value="<%= cliente.enderecocliente.cep %>" type="text" class="form-control" id="inputCEP"
                            placeholder="00000-000" name="inputCEP">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputLogradouro">Logradouro</label>
                        <input value="<%= cliente.enderecocliente.logradouro %>" type="text" class="form-control"
                            id="inputLogradouro" placeholder="Rua" name="inputLogradouro">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputCidade">Cidade</label>
                        <input value="<%= cliente.enderecocliente.cidade %>" type="text" class="form-control"
                            id="inputCidade" placeholder="Cidade" name="inputCidade">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputBairro">Bairro</label>
                        <input value="<%= cliente.enderecocliente.bairro %>" type="text" class="form-control"
                            id="inputBairro" placeholder="Bairro" name="inputBairro">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputNumero">Número</label>
                        <input value="<%= cliente.enderecocliente.numero %>" type="number" class="form-control"  id="inputNumero" placeholder="00" min="1" name="inputNumero">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputUF">UF</label>
                        <select class="form-control" name="selectUF" id="selectUF">
                            <option selected disabled value="">Selecione</option>
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPacote">Pacote</label>
                        <select class="form-control" name="selectPacote" id="selectPacote">
                            <option selected disabled value="">Selecione</option>
                            <% pacote.forEach(pacote => { %>
                            <option value="<%= pacote.id %>"><%= pacote.nome %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
    <script>
        $('#inputCPF').mask("999.999.999-99", { placeholder: "000.000.000-00" });
        $('#inputTelefone').mask("(99)99999-9999", { placeholder: "(00)00000-0000" });
        $('#inputCEP').mask("99999-999", { placeholder: "00000-000" });
    </script>
</body>
<%- include ../../partials/footer.ejs %>