<%- include ../partials/header.ejs %>
<%- include ../partials/navbar.ejs %>
<%- include ../partials/sidebar.ejs %>
<%- include ../partials/background.ejs %>

<body>

    <!-- Área de Conteúdos -->
    <div class="main-content mt-5">

        <div class="jumbotron jumbotronBackground">
            <h1 class="display-4 text-warning"><%= academia.nome %></h1>
            <p class="lead">Painel de controle administrativo.</p>
            <hr class="my-4">
            <p>
                <% if(admin.sexo == "Masculino"){ %>
                    Bem-vindo de volta, <strong><%= admin.nome %></strong>!
                <% } else { %>
                    Bem-vinda de volta, <%= admin.nome %>!
                <% } %>    
            </p>
          </div>

    </div>

</body>

<%- include ../partials/footer.ejs %>