<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>
<%- include ../../partials/background.ejs %>

<body>
    <div class="main-content">
        <h2 class="titulos">Cadastro de Administrador</h2>
        <hr>
        <div class="formularios">
            <form action="/administrador/salvar" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputNome">Nome</label>
                        <input type="text" class="form-control" name="inputNome" id="inputNome" placeholder="Nome"
                            required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputSobrenome">Sobrenome</label>
                        <input type="text" class="form-control" name="inputSobrenome" placeholder="Sobrenome"
                            id="inputSobrenome" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="selectSexo">Sexo</label>
                        <select class="form-control" name="selectSexo" id="selectSexo" required>
                            <option selected disabled value="">Selecione</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputDate">Data de Nascimento</label>
                        <input max="2020-01-01" type="date" class="form-control" name="inputDate" id="inputDate" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputCPF">CPF</label>
                        <input type="text" class="form-control" name="inputCPF" id="inputCPF" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputTelefone">Telefone</label>
                        <input type="text" class="form-control" name="inputTelefone" id="inputTelefone" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" name="inputEmail" placeholder="example@email.com"
                            id="inputEmail" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputSenha">Senha</label>
                        <input min="6" type="password" class="form-control" name="inputSenha" placeholder="Senha" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputLogradouro">Logradouro</label>
                        <input type="text" class="form-control" name="inputLogradouro" placeholder="Rua"
                            id="inputLogradouro" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputCidade">Cidade</label>
                        <input type="text" class="form-control" name="inputCidade" placeholder="Cidade" id="inputCidade"
                            required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputBairro">Bairro</label>
                        <input type="text" class="form-control" name="inputBairro" placeholder="Bairro" id="inputBairro"
                            required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputNumero">Número</label>
                        <input type="number" class="form-control" name="inputNumero" placeholder="00" id="inputNumero" min="1" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputCEP">CEP</label>
                        <input type="text" class="form-control" name="inputCEP" id="inputCEP" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="selectUF">UF</label>
                        <select class="form-control" id="selectUF" name="selectUF" required>
                            <option selected disabled value="NN">Selecione</option>
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                    </div>
                </div>
                <div class="mb-2" style="color: red;">
                    <%= messages.emailExistente %>
                </div>
                <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>
    </div>
    <script>
        $('#inputCPF').mask("999.999.999-99", { placeholder: "000.000.000-00" });
        $('#inputTelefone').mask("(99)99999-9999", { placeholder: "(00)00000-0000" });
        $('#inputCEP').mask("99999-999", { placeholder: "00000-000" });
    </script>
</body>
<%- include ../../partials/footer.ejs %>